@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Euphoria+Script|Gugi|Lora");
@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");

.bx {
  color: #f5f5f5;
  font-size: 32px;
  transition: ease-in-out 0.25s;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.bx:hover {
  color: #151515;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 5px;
}
